scripts/config.yml

scraper/


recipe/styles/_*
*.py[cod]
config.yml
config.me.yml
*.log.md

deploy
.build
out
.sass-cache

.DS_Store
env
venv
build
*.swp
*.swo
.idea
*.iml
*.log


# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
__pycache__

# Installer logs
pip-log.txt



*.sh
.DS_Store
site/.build
dumps/

