<html>
    <head>
        <title>Poetroid - Discover Poetry Together</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <div class="container">
            <h1>{{ greeting }}</h1>
            <p>Facjure LLC</p>
        </div>
    </body>
</html>

