---
_type: dynamic
---

<div id="editor-container">

  <div id="more-controls">
      <span id="file-search">
      <input id="editor-search" type="text" data-provide="typeahead">
      </span>
  </div>

  <div id="editor">

    <div id="status"> </div>

    <textarea id="editing-area"></textarea>

    <div id="buttons">
      <button id="save" class="btn btn-primary">save</button>
      <button id="new" class="btn btn-primary">new</button>
    </div>

  </div>

  <div id="preview-area">

    <div id="preview">
    </div>

  </div>

</div>

