---
_type: dynamic
---

<div class="container" style="margin-bottom: 30px;">

  <div class="row">
    <div class="row">
      <div class="col-md-5">
        <input id="editor-search" type="text" data-provide="typeahead">
      </div>
    </div>
    <div class="row" style="margin-top: 5px">
      <div class="col-md-5">
        <span id ="status" class="label label-info"></span>
      </div>
      <div class="col-md-1">
        <button id="new">new</button>
      </div>
      <div class="col-md-6">
        <span id ="filename" class="label label-info"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <textarea id="editing-area"></textarea>
      </div>
      <div class="col-md-6">
        <div id="preview">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-5">
        <button id="save">save</button>
      </div>
    </div>
  </div>

</div>

