---
_type: dynamic
---

<div id="editor-container">

  <div id="editor">

    <div id="more-controls">
      <span id="file-search">
        <input id="editor-search" type="text" data-provide="typeahead">
      </span>
      <div id="status"> </div>
      <div id="new-button">
        <button id="new">new</button>
      </div>
     </div>

    <textarea id="editing-area"></textarea>

    <div id="save-button">
        <button id="save">save</button>
    </div>

  </div>

  <div id="preview-area">

    <div id="yaml-results">
    </div>

    <div id="preview">
    </div>

  </div>

</div>

