<div id="footer">
  <div class="container">
    <p class="text-muted credit"> &copy; Fac.jure LLC. 2013. Built with <a href="https://github.com/Facjure/frozen-pie">Frozen &pi;</a>.</p>
  </div>
</div>
