<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Poems from the Public Domain">
    <meta name="author" content="Facjure">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"></script>
    <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sammy.js/0.7.4/sammy.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="js/github.js"></script>
    <script type="text/javascript" src="js/yaml.js"></script>
    <script type="text/javascript" src="js/editor.js"></script>
    <script type="text/javascript" src="js/flowtype.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <title> {{ title }}</title>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel='stylesheet' type='text/css'>
    <link href="css/typeahead.js-bootstrap.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />

    <script>
        /* Frozen Pie */
        var data = {{{ json_data }}};
        var config = {{{ config }}};

        {{{ script }}}

        /* Google Analytics */
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-41268790-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

    </script>

  </head>

  <body>

    <!-- Sammjs wraps all page content here -->
    <div id="wrap">
      <div class="container" id="main">
        {{{ body }}}
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit"> a <a href="http://www.facjure.com">facjure </a> publication</p>
      </div>
    </div>

  </body>
</html>
