<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Poems from the Public Domain">
    <meta name="author" content="Facjure">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"></script>

    <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>

    <script type="text/javascript" src="js/github.js"></script>
    <script type="text/javascript" src="js/yaml.js"></script>
    <script type="text/javascript" src="js/editor.js"></script>

    <title> {{ title }}</title>

    {{> styles}}
    {{> scripts}}
  </head>

  <body>

    <!-- Sammjs wraps all page content here -->
    <div id="wrap">
      {{> nav}}

      <div class="container">
        <div id="main">
        </div>
      </div>
    </div>

    {{> footer}}

  </body>
</html>
