---
_type: dynamic
---
<div class="row">
  <div class="col-xs-7 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-4 text-center">
    <h1>Poetroid</h1>
    <p class="lead">Discover Poetry Together</p>
  </div>
</div>

<hr/>

<div class="row search top-buffer">
  <div class="col-xs-8 col-xs-offset-1 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <form class="form-inline" id="home-search" role="form" action="#/search" method="GET">
        <input type="text" name="query" id="query" class="form-control input-xxlarge" placeholder="Search poems by author, title, or metadata like tag: dark">
    </form>
     <p class="text-center clearfix"> serving {{#stats}} <strong>{{poems_count}}</strong> poems by <strong>{{authors_count}}</strong> authors, from the public domain.{{/stats}}
    </p>
  </div>
</div>

<div id="stats" class="row top-buffer-extra">
  <div class="col-xs-8 col-xs-offset-1 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <p id="poem-listing" class="text-center"> Click <a href="#/editor">here</a> to login if you're an approved editor.<p>
  </div>
</div>



