---
_type: dynamic
---
<div class="page-header center">
    <h1>Discover Poetry Together</h1>
    <p class="lead center">Curate, collect, and read <span id="poems-count"></span> poems from the public domain. From any device.</p>
</div>

<form class="form-inline search-meta" role="form" action="#/search" method="GET" >
  <div class="form-group">
    <input type="text" class="form-control input-lg" name="query" id="query" placeholder="Search by Metadata">
  </div>
  <button type="submit" class="btn btn btn-primary btn-lg">Search</button>

  <div id="search-descr">
      Search Examples: Nature, author: wilde, tag: love
  </div>
</form>

