<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Poetics</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/page/about.md">About</a></li>
        <li class="active"><a href="#/editor">Editor</a></li>
        <li><a href="mailto:priyatam@facjure.com">Contact</a></li>
      </ul>
      <div class="pull-right"><button id="login">Login</a></div>
    </div><!--/.nav-collapse -->
  </div>
</div>
