<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-9 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <header>
        <h3>{{#title}}{{title}}{{/title}}{{^title}}Untitled{{/title}}
            <em>by</em>
            {{#author}}{{author}}{{/author}}{{^author}}Unknown{{/author}}
            </h3>
    </header>
    <article id="poem" style="white-space: pre">{{{ body }}}</article>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-5 col-md-4 col-md-offset-5 col-lg-3  col-lg-offset-4">
    <button id="show-meta" type="submit" class="btn btn btn-primary btn-sm">metadata</button>
    <button id="show-tags" type="submit" class="btn btn btn-primary btn-sm">tags</button>
  </div>
</div>

<div class="row clearfix">
  <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
    <div id="meta" class="panel panel-default hide">
      <ul class="list-group">
      {{#type}}<li class="list-group-item">type: {{type}}</li>{{/type}}
      {{#translator}}<li class="list-group-item">translator: {{translator}} </li>{{/translator}}
      {{#author}}<li class="list-group-item">author: {{author}}</li>{{/author}}
      {{#gender}}<li class="list-group-item">gender: {{gender}}</li>{{/gender}}
      {{#curator}}<li class="list-group-item">curator: {{curator}}</li>{{/curator}}
      {{#year}}<li class="list-group-item">year: {{year}}</li>{{/year}}
      {{#country}}<li class="list-group-item">country: {{country}}</li>{{/country}}
      </ul>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
    <div id="tags" class="panel panel-default hide">
      <ul class="list-group">
        {{#tags}}
        <li class="list-group-item">
          <a href="#/search?query=tag%3A{{.}}">{{.}}</a>
          </li>
            {{/tags}}
          </ul>
    </div>
  </div>
</div>
