<header>
    <h2>{{#title}}{{title}}{{/title}}{{^title}}Untitled{{/title}}
        <em>by</em>
        {{#author}}{{author}}{{/author}}{{^author}}Unknown{{/author}}
        </h2>
</header>
<article class='post' style="white-space: pre-wrap">{{{ body }}}</article>
<hr>

<button id="show-meta" type="submit" class="btn btn btn-primary btn-sm">show metadata</button>
<button id="show-tags" type="submit" class="btn btn btn-primary btn-sm">show tags</button>

<div id="meta" class="panel panel-default hide">
    {{#type}} type: {{type}}{{/type}}
    {{#translator}} translator: {{translator}}{{/translator}}
    author: {{author}}
    gender: {{gender}}
    curator: {{curator}}
    year: {{year}}
    country: {{country}}
</div>

<div id="tags" class="panel panel-default hide">
    <ul class="list-group">
        {{#tags}}
            <li class="list-group-item">{{.}}</li>
        {{/tags}}
    </ul>
</div>
