<header>
    <h2>{{#title}}{{title}}{{/title}}{{^title}}Untitled{{/title}}        
        <em>by</em>
        {{#author}}{{author}}{{/author}}{{^author}}Unknown{{/author}}
        </h2>
</header>
<article class='post' style="white-space: pre-wrap">{{{ body }}}</article>
