<header>
    <h2>{{#title}}{{title}}{{/title}}{{^title}}Untitled{{/title}}        
        <em>by</em>
        {{#author}}{{author}}{{/author}}{{^author}}Unknown{{/author}}
        </h2>
</header>
<article class='post' style="white-space: pre-wrap">{{{ body }}}</article>
<hr>

<button id="show-meta">Show metadata</button>
<div id="meta" class="hide">
{{#translator}}    translator: {{translator}}{{/translator}}
    author: {{author}}
    title: {{title}}
    gender: {{gender}}
    curator: {{curator}}
    year: {{year}}
    country: {{country}}
{{#type}}    type: {{type}}{{/type}}
    tags: 
     {{#tags}}
     - {{.}}
     {{/tags}}
</div>
