#editor-container {
  height: 100%;
  width: 100%;
  padding: 0px 0px 120px 0px;
}

#editor {
  float: left;
  width: 50%;
  height: 90%;
}

#new-button {
  float: left;
  margin-top: 10px;
}

#status {
  color: #DE5641;
  float: left;
  width: 90%;
  font-size: 16px;
  margin-top: 10px;
  min-height: 22px;
}

textarea, input, button { outline: none; }

#editing-area {
  margin-top: 15px;
  font-family : inherit;
  font-size: 18px;
  font-weight: 300;
  white-space: pre;
  height: 100%;
  width: 100%;
  border: none;
  overflow: auto;
  padding-left: 2%;
  border: 1px #e6e6e6 solid;
  -webkit-border-radius: 15px 15px 15px 15px; 
  -moz-border-radius: 15px 15px 15px 15px;
  -o-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
}

#more-controls > form {
  display: inline-block;
}

#preview-area {
  float: left;
  width: 48%;
  margin-left: 2%;
}

#preview {
  font-family : 'Alegreya', serif;
  font-size: 20px;
  font-weight: 400;
  padding-left: 5%;
  margin-top: 5%;
  width: 100%;
  white-space: pre;
  overflow: auto;
  border: 1px #e6e6e6 solid;
  -webkit-border-radius: 15px 15px 15px 15px; 
  -moz-border-radius: 15px 15px 15px 15px;
  -o-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
}

button {
  font-family : inherit;
  font-size: 18px;
  background-color: transparent;
  color: #476ff1;
  border: none;
  border-bottom: 1px dashed #000;
  padding: 0px;
}

#more-controls {
  float: left;
  margin-bottom: 2%;
  width: 100%;
  z-index: 999 !important;
}

#editor-search {
  font-family: inherit;
  width: 100%;
}

.twitter-typeahead, #search {
  width: 100%;
}

#save-button {
 float:right;
 margin-top: 10px;
 margin-right: 3%;
}

.tt-dropdown-menu {
  width: 100%;
  padding: 3%;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  border-radius: 1%;
  -webkit-box-shadow: 0 0.5% 1% rgba(0,0,0,.2);
  -moz-box-shadow: 0 0.5% 1% rgba(0,0,0,.2);
  box-shadow: 0 0.5% 1% rgba(0,0,0,.2);
}

#file-search {
  width: 85%;
  display: inline-block;
}

#login {
  margin-left: 2%;
  background-color: transparent;
  border: none;
  color: #777;
  line-height: 50px;
}

#yaml-results {
  white-space: normal;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion {
  font-size: 18px;
  line-height: 24px;
}

.tt-hint {
  color: lightgrey;
}
