@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  font-family: 'Oxygen', Vollkorn, sans-serif;
  font-size: 18px;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

pre {
  display: block;
  padding: 10px;
  background: #272822;
  color: #ddd;
  overflow: auto;
  font-size: 15px;
}
pre .constant {
  color:#66d9ef;
}

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

code {
  font-size: 80%;
}

.search-meta {
  padding: 5px;
  margin: 5% auto;
  text-align:center;
}

.center {
  text-align:center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#search-descr {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  color: grey;
  font-size: small;
  font-style: italic;
}
